#ifdef APSTUDIO_INVOKED
#error this file is not editable by Visual C++
#else

#include "GothicStarter.h"
#include "resource.rh"
#include <winresrc.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/*///////////////////////////////////////////////////////////////////////////
//
//  Icon
*/

IDI_MAIN ICON "g2.ico"

/*///////////////////////////////////////////////////////////////////////////
//
//  Bitmap
*/

IDB_LIST BITMAP "list.bmp"

/*///////////////////////////////////////////////////////////////////////////
//
//  Manifest
*/

IDM_MAIN 24 "main.man"

/*///////////////////////////////////////////////////////////////////////////
//
//  Version
*/

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    APP_VERSION_NUMBER
  PRODUCTVERSION APP_PRODUCT_NUMBER
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
  FILEOS         VOS__WINDOWS32
  FILETYPE       VFT_APP
  FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "00000000"
    BEGIN
      VALUE "FileVersion",     APP_VERSION_STRING
      VALUE "FileDescription", APP_VERSION_FILEDESCRIPTION
      VALUE "LegalCopyright",  APP_VERSION_COPYRIGHT
      VALUE "ProductName",     APP_PRODUCT_PRODUCT
      VALUE "CompanyName",     APP_PRODUCT_COMPANY
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x0000
  END
END

/*///////////////////////////////////////////////////////////////////////////
//
//  Dialog
*/

/*
// English (first = default)
*/

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifndef MOD_VERSION
STRINGTABLE  
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1252\\deflang1033\\deff0{\\fonttbl{\\f0\\fcharset0 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "Version: "
END
#endif

IDD_MAIN DIALOGEX 0, 0, 332, 222
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 177, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Play the &Game", IDC_PLAY,
    188, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    188, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 318, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 215, 192,
    WS_EX_STATICEDGE
  CONTROL "&Parameters:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 40, 10
  EDITTEXT IDC_PARA,
    50, 202, 275, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Play the &Game", IDC_PLAY,
    225, 7, 100, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "Start the &Editor", IDC_EDIT,
    225, 32, 100, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "&Reparse Scripts", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 60, 92, 10
  CONTROL "&Window Mode", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 73, 92, 10
  CONTROL "Disable &Music", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 86, 92, 10
  CONTROL "Disable &Sound", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 99, 92, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "&zSpy Messages:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    229, 115, 60, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    225, 125, 100, 14
  CONTROL "Convert &Textures", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 146, 92, 10
  CONTROL "Convert &Data", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 159, 92, 10
  CONTROL "Convert &All", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 172, 92, 10
  CONTROL "&VDFS physical first", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 185, 92, 10
#endif
END

/*
// German
*/

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

#ifndef MOD_VERSION
STRINGTABLE  
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1252\\deflang1031\\deff0{\\fonttbl{\\f0\\fcharset0 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "Version: "
END
#endif

IDD_MAIN DIALOGEX 0, 0, 332, 222
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 177, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "&Spiel starten", IDC_PLAY,
    188, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    188, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 318, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 215, 192,
    WS_EX_STATICEDGE
  CONTROL "&Parameter:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 35, 10
  EDITTEXT IDC_PARA,
    46, 202, 279, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "&Spiel starten", IDC_PLAY,
    225, 7, 100, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "&Editor starten", IDC_EDIT,
    225, 32, 100, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "Sk&ripte parsen", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 60, 92, 10
  CONTROL "&Fenstermodus", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 73, 92, 10
  CONTROL "&Musik deaktivieren", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 86, 92, 10
  CONTROL "Sou&nd deaktivieren", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 99, 92, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "&zSpy-Nachrichten:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    229, 115, 60, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    225, 125, 100, 14
  CONTROL "&Texturen konvertieren", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 146, 92, 10
  CONTROL "&Daten konvertieren", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 159, 92, 10
  CONTROL "&Alles konvertieren", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 172, 92, 10
  CONTROL "&VDFS physikal. zuerst", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 185, 92, 10
#endif
END

/*
// French (beta - thanks to Zerwas)
*/

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
#pragma code_page(1252)

#ifndef MOD_VERSION
STRINGTABLE  
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1252\\deflang1036\\deff0{\\fonttbl{\\f0\\fcharset0 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "Version: "
END
#endif

IDD_MAIN DIALOGEX 0, 0, 332, 222
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 177, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "&Jouer le jeu", IDC_PLAY,
    188, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    188, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 318, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 215, 192,
    WS_EX_STATICEDGE
  CONTROL "&Paramиtres:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 39, 10
  EDITTEXT IDC_PARA,
    50, 202, 275, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "&Jouer le jeu", IDC_PLAY,
    225, 7, 100, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "&Lancer l'йditeur", IDC_EDIT,
    225, 32, 100, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "&Compiler les scripts", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 60, 92, 10
  CONTROL "Mode &fenкtre", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 73, 92, 10
  CONTROL "Dйsabler &musique", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 86, 92, 10
  CONTROL "Dйsabler &son", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 99, 92, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "Messages &zSpy:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    229, 115, 60, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    225, 125, 100, 14
  CONTROL "Converter des &textures", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 146, 92, 10
  CONTROL "Converter des &donnйes", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 159, 92, 10
  CONTROL "Converter t&out", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 172, 92, 10
  CONTROL "&VDFS physique d'abord", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 185, 92, 10
#endif
END

/*
// Italian (beta - thanks to Guilio)
*/

LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
#pragma code_page(1252)

#ifndef MOD_VERSION
STRINGTABLE  
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1252\\deflang1040\\deff0{\\fonttbl{\\f0\\fcharset0 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "Versione: "
END
#endif

IDD_MAIN DIALOGEX 0, 0, 332, 222
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 177, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Avvia &Gioco", IDC_PLAY,
    188, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    188, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 318, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 215, 192,
    WS_EX_STATICEDGE
  CONTROL "&Parametri:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 40, 10
  EDITTEXT IDC_PARA,
    50, 202, 275, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Lancia il &Gioco", IDC_PLAY,
    225, 7, 100, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "Lancia &Editor", IDC_EDIT,
    225, 32, 100, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "Analisi &Script", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 60, 92, 10
  CONTROL "Disabilita &Full Screen", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 73, 92, 10
  CONTROL "Disabilita &musica", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 86, 92, 10
  CONTROL "Disabilita &suoni", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 99, 92, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "Messaggi &zSpy:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    229, 115, 60, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    225, 125, 100, 14
  CONTROL "Converti &Textures", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 146, 92, 10
  CONTROL "Converti &dati", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 159, 92, 10
  CONTROL "Converti t&utto", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 172, 92, 10
  CONTROL "&VDFS: HD per primo", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 185, 92, 10
#endif
END

/*
// Russian (beta - thanks to BlackWolf (aka Ukur), Dimon, and AlexX)
*/

LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL  /*NOTE: SUBLANG_RUSSIAN(1) doesn't work on MUI versions of Windows. */
#pragma code_page(1251)

#ifndef MOD_VERSION
STRINGTABLE  
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1251\\deflang1049\\deff0{\\fonttbl{\\f0\\fcharset204 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "\\'c2\\'e5\\'f0\\'f1\\'e8\\'ff: "
END
#endif

#ifndef MOD_VERSION
IDD_MAIN DIALOGEX 0, 0, 352, 222
#else    
IDD_MAIN DIALOGEX 0, 0, 332, 222
#endif
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 197, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Начать &игру", IDC_PLAY,
    208, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    208, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 338, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 205, 192,
    WS_EX_STATICEDGE
  CONTROL "&Параметры:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 45, 10
  EDITTEXT IDC_PARA,
    55, 202, 270, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Запустить &игру", IDC_PLAY,
    215, 7, 110, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "Запустить в &редакторе", IDC_EDIT,
    215, 32, 110, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "&Пересобрать скрипты", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    219, 60, 102, 10
  CONTROL "&Оконный режим", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 73, 102, 10
  CONTROL "Выключить &музыку", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 86, 102, 10
  CONTROL "Выключить &звук", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 99, 102, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "&Сообщения zSpy:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    219, 115, 70, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    215, 125, 110, 14
  CONTROL "Конвертировать &текстуры", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    219, 146, 102, 10
  CONTROL "Конвертировать &данные", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 159, 102, 10
  CONTROL "Конвертировать &всё", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 172, 102, 10
  CONTROL "Вначале &физический VDFS", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    219, 185, 102, 10
#endif
END

/*
// Czech (beta - thanks to Greg)
*/

LANGUAGE LANG_CZECH, 0x1
#pragma code_page(1250)

#ifndef MOD_VERSION
STRINGTABLE 
BEGIN
  IDS_ANSI "\\ansi\\ansicpg1250\\deflang1029\\deff0{\\fonttbl{\\f0\\fcharset0 MS Shell Dlg;}}\\fs16\\pard\\qc"
  IDS_VERS "Verze: "
END
#endif

IDD_MAIN DIALOGEX 0, 0, 332, 222
STYLE DS_SETFONT | DS_NOIDLEMSG | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
#ifndef MOD_VERSION
  WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION " GothicStarter "
#else    
  DS_MODALFRAME
CAPTION " GothicStarter (mod) "
#endif
FONT 8, "MS Shell Dlg"
BEGIN
#ifndef MOD_VERSION
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 177, 123,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Spustit &hru", IDC_PLAY,
    188, 7, 137, 22,
    BS_FLAT
  CONTROL         "", IDC_INFO, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_GROUP,
    188, 32, 137, 98
  CONTROL         "", IDC_RICH, "RICHEDIT",
    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
    7, 133, 318, 82,
    WS_EX_STATICEDGE
#else
  CONTROL "", IDC_LIST, "SysListView32",
    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_GROUP | WS_TABSTOP,
    7, 7, 215, 192,
    WS_EX_STATICEDGE
  CONTROL "&Parametry:", IDS_PARA, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    7, 203, 40, 10
  EDITTEXT IDC_PARA,
    50, 202, 275, 12,
    ES_AUTOHSCROLL | NOT WS_BORDER,
    WS_EX_STATICEDGE
  DEFPUSHBUTTON "Spustit &hru", IDC_PLAY,
    225, 7, 100, 22,
    BS_FLAT | WS_GROUP
  PUSHBUTTON "Spustit &editor", IDC_EDIT,
    225, 32, 100, 22,
    BS_FLAT | NOT WS_TABSTOP
  CONTROL "&Parsovat skripty", IDC_PARS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 60, 92, 10
  CONTROL "&Rezim v okne", IDC_WIND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 73, 92, 10
  CONTROL "Vypnout &hudbu", IDC_NMUS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 86, 92, 10
  CONTROL "Vypnout &zvuky", IDC_NSND, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 99, 92, 10
  RTEXT "", IDC_ZLOG,
    293, 115, 28, 8,
    NOT WS_GROUP
  CONTROL "&zSpy zpravy:", IDS_ZSPY, "Static",
    SS_LEFTNOWORDWRAP | WS_GROUP,
    229, 115, 60, 8
  CONTROL "", IDC_ZSPY, "msctls_trackbar32",
    TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP,
    225, 125, 100, 14
  CONTROL "Prevest &textury", IDC_ZTEX, "Button",
    BS_AUTOCHECKBOX | BS_FLAT | WS_GROUP | WS_TABSTOP,
    229, 146, 92, 10
  CONTROL "Prevest &data", IDC_AUTO, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 159, 92, 10
  CONTROL "Prevest &vse", IDC_CALL, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 172, 92, 10
  CONTROL "Nejprve &VDFS z disku", IDC_VDFS, "Button",
    BS_AUTOCHECKBOX | BS_FLAT,
    229, 185, 92, 10
#endif
END

#endif
